@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
  /* swiper js pagination css */
    --swiper-pagination-color: var(--swiper-theme-color);
    --swiper-pagination-bullet-size: 8px;
    --swiper-pagination-bullet-width: 32px;
    --swiper-pagination-bullet-height: 4px;
    --swiper-pagination-bullet-border-radius:1px;
    --swiper-pagination-bullet-inactive-color: #000;
    --swiper-pagination-bullet-inactive-opacity: 0.2;
    --swiper-pagination-bullet-opacity: 1;
    --swiper-pagination-bullet-horizontal-gap: 4px;
    --swiper-pagination-bullet-vertical-gap: 6px;
   /* ===============x=================== */

   --background-color: rgb(255, 255, 255);
    --text-color: #2d2d2d;
    --input-color: rgba(217, 217, 217, 0.6);
    --header-color:rgb(255, 255, 255,0.5);
    --border-color: rgba(112, 112, 112, 0.5);
  
  }

  .dark { 
   
    --background-color: #100226ff;
    --text-color: #e1e1e1;
    --input-color: rgb(55 ,65, 81,0.5);
    --header-color: rgb(16, 2, 38,0.6);
    --border-color:rgba(134, 134, 134, 0.5);

  }

}


@media (max-width: 640px) {
  .gridcard {
    grid-template-rows: repeat(12, minmax(0, 1fr));
  }
}

.gridcard {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  grid-auto-flow: column;
  row-gap: 0.9rem;
  column-gap: 1.35rem;
  grid-auto-flow: column;
  overflow: hidden;
}

@media (min-width: 640px) {
  .gridcard {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: repeat(6, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  .gridcard {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: repeat(4, minmax(0, 1fr));
  }
}

.mintTabCard {
  display: grid;
  grid-template-columns: 1fr 3fr 12fr;
  width: 100%;
  /* max-width: 25rem; */
}

.card {
  background-color: rgba(255, 255, 255, 0.1);
  

  transition: 0.3s;
}

.card:hover {
  
  transform: scale(1.01);
  /* box-shadow: inset 0 2px 2px #525154, -2px -1px 15px rgba(0, 0, 0, .64); */
}

.card_profile {
  border: 5px solid var(--btn-border);
}



.bn5 {
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.bn5:before {
  content: "";
  background: linear-gradient(45deg,
      #db4b29,
      #c4f2d2,
      #2559d4,
      #2dc8fb,
      #00ffd5,
      #692b23,
      #2c2124,
      #fbdc39,
      #fba224,
      #5bbbc4);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowingbn5 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowingbn5 {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.bn5:active {
  color: #000;
}

.bn5:active:after {
  background: transparent;
}

.bn5:hover:before {
  opacity: 1;
}

.bn5:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #191919;
  left: 0;
  top: 0;
  border-radius: 10px;
}